<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= product.name %>
    </title>
</head>

<body>
    <nav>
        <a href="/store">Back to Store</a>
    </nav>
    <h1>
        <%=product.name %>
    </h1>
    <div class="photo">
        <img src=<%=product.img %> alt="">
    </div>
    <ul>
        <form action="/store/<%= product._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete this item">
        </form>
        <li>
            <h3>Description:</h3>
            <%= product.description%>
        </li>
        <li>
            <h3>Price:</h3>
            $<%= product.price %>
        </li>
        <li>
            <h3>Left in Stock:</h3>
            <%= product.qty%> units
        </li>
    </ul>
    <nav>
        <% if (product.qty > 0) { %>
        <form action="<%= product.qty -=1; %> ">
            <input type="submit" value="Purchase">
        </form>
        <% } %>
        <a href="/store/<%=product._id %>/edit">Something wrong? Edit!</a>

    </nav>
</body>

</html>